package templates

templ LoginPage(errorMsg string) {
	<!DOCTYPE html>
	<html>
		@Head()
		<body class="text-gray-800 antialiased">
			@Nav(nil)
			@LoginContent(false, errorMsg)
		</body>
		@Footer()
		@toggleNavBar()
	</html>
}

templ SignupPage(errorMsg string) {
	<!DOCTYPE html>
	<html>
		@Head()
		<body class="text-gray-800 antialiased">
			@Nav(nil)
			@LoginContent(true, errorMsg)
		</body>
		@Footer()
		@toggleNavBar()
	</html>
}
